@charset 'UTF-8';
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
}

body, ul, li, h1, p{
    margin:0;
    padding:0;
}

label{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:30px;
    cursor:pointer;
}

input[type="checkbox"]{
    display: none;
}

h1{
    font-size:20px;
    line-height: 30px;
    padding:5px;
    text-align: center;
}

.content{
    padding: 0;
}

.content__wrap{
    border:1px solid #666;
    width:100%;
    height:478px;
}

.content__menu{
    list-style:none;
    margin:0;
    padding:0;
}

.content__menu > li{
    background: #9B9;
    border-bottom:1px solid #393;
    padding:10px 12px;
    font-size:13px;
    line-height: 30px;
    position: relative;
}

.content__menu > li:first-child{
    border-top:1px solid #393;
}

.content__submenu{
    display:none;/*hidden until click it*/
    list-style-type:none;
    padding-left:0;
}

/* it opens when checkbox has been clicked */
.content__menu > li > input:checked ~ .content__submenu{
    display:block;
}

.content__submenu > li{
    background:#efe;
    border-top:1px solid #696;
    cursor:pointer;
}

.content__submenu > li > p{
    margin:0;
    padding-left:25px;
}

.content__menu__heading{
    padding-left: 12px;
    margin:0;
}