@charset 'UTF-8';
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
}

body, ul, li, h1, p{
    margin:0;
    padding:0;
}

label{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:50px;
    cursor:pointer;
}

input[type="checkbox"]{
    display: none;
}

h1{
    font-size:20px;
    line-height: 50px;
    padding:5px;
    text-align: center;
}

.content{
    padding: 0;
}

.content__wrap{
    border:1px solid #666;
    width:100%;
    height:478px;
}

.content__menu{
    list-style:none;
    margin:0;
    padding:0;
}

.content__menu > li{
    background: #9B9;
    border-bottom:1px solid #393;
    padding:0 12px;
    font-size:13px;
    line-height: 50px;
    position: relative;
}

.content__menu li:hover{
    opacity:.9;
}

.content__menu li ul li{
    height:0;
    overflow: hidden;
    transition:all .2s ease;
}

/* it opens when checkbox has been clicked */
.content__menu > li > input:checked ~ .content__submenu li{
    display:block;
    height:50px;
    line-height:50px;
}

