@charset 'UTF-8';
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    height:100%;
    margin:0;
}
p, div{
    user-select: text
}
h3, .caption{
    font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
    letter-spacing: 5px;
    margin-bottom:20px;
}
.caption{
    color:white;
    position:absolute;
    left:0;
    top:50%;/*not set vh to vertically center*/
    right:0;
    text-align: center;
    font-size: 30px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -0.5px;
}
.background{
    position: relative;
    /*to create the actual parallax effect*/
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;  
}
.background1__img{
    background-image: url('img/img1.jpg');
    min-height:100vh;
}
.background2__img{
    background-image: url('img/img2.jpg');
    min-height:400px;/*set a specific height to set a parallax properly*/
}
.background3__img{
    background-image: url('img/img3.jpg');
    min-height:400px;/*set a specific height to set a parallax properly*/
}
.content__wrap{
    padding: 80px;
    position: relative;
}
.content1, .content3{
    background: white;
    color:#222;
}
.content2{
    background: #222;
    color:white;
}
.content__heading{
    text-align: center;
}
.content__description{
    text-align: justify;
    line-height: 1.5;
}

